<html>
<head></head>
<body>
<h1> Caesar Cypher Tool</h1>


<form>
	<p>Enter your message:</p>
	<input type = 'text' name = 'sentence' />
	<p>Enter your shift factor:</p>
	<input type = 'number' name = 'shift' value = 0 /><br></br>
	<input type = 'submit' value = 'Enter' />
	<p>Your encrypted message is:</p>
</form>
<p>
<%= message %>
</p>
	
</body>
</html>	